<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Mail</title>
  </head>
  <body style="background-color:grey">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           width="550" bgcolor="white" style="border:2px solid black ;">
        <tbody>
            <tr style="border: none; 
            background-image: linear-gradient(to right top, #86b4f9, #aabff5, #c5ccf1, #9d9df6, #2b8cbd); 
            height: 40px; 
            color:white; 
            padding-bottom: 20px; 
            text-align: center;">
                  
<td height="40px" align="center" style="padding-bottom: 10px;">
    <p style="color:black; 
    line-height: 1.5em; font-size: 25px; padding-top: 15px ; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    YOUR INFORMATION
    </p>
     
      
    
      
    
    
</td>
</tr>
            <tr style="height: 30px;">
                <td  style="border: none;
                     
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Name: {{name}}
                    </p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td  style="border: none;
                    
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Email: {{email}}
                    </p>
                </td>
            </tr><tr style="height: 30px;">
                <td  style="border: none;
                           
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Phone: {{phone}}
                    </p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td  style="border: none;
                          
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Subject: {{subject}}
                    </p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td  style="border: none;
                          
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Country: {{country}}
                    </p>
                </td>
            </tr><tr style="height: 30px;">
                <td  style="border: none;
                          
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        State: {{state}}
                    </p>
                </td>
            </tr><tr style="height: 30px;">
                <td  style="border: none;
                          
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        City: {{city}}
                    </p>
                </td>
            </tr><tr style="height: 30px;">
                <td  style="border: none;
                          
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Social Link: {{social_link}}
                    </p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td  style="border: none;
                           
                           ">
   
                    <p style="font-weight: bolder;font-size: 15px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Date: {{date}}
             
                    </p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td  style="border: none;">
   
                    <p style="font-weight: bolder;font-size: 15px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Time: {{time}}
             
                    </p>
                </td>
            </tr>
            <tr style="height: 30px;">
                <td  style="border: none;
                           
                           ">
   
                    <p style="font-weight: bolder;font-size: 20px;
                              letter-spacing: 0.025em;
                              padding-left: 10px;
                              padding-top: 5px;
                              color:black;">
                        Messege: 
                        <div  style=" width: auto; margin: auto;">
                        <p style="font-size:15px;"><b>{{result}}</b></p>
                        </div>
                    </p>
                </td>
            </tr>
            <tr style="display: inline-block;">
                <td style="height: 150px;
                           padding: 20px;
                           border: none; 
                          
                           background-color: white;">
                     
                    <h2 style="text-align: left;
                               align-items: center;">
                        <center style="color: red;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Thank You For Visit My WebSite</center> 
                                             <center style="font-size: 18px; padding-top: 15px;">We will get you in touch with in 2-3 days</center> 
                     
                   </h2>
                    <p class="data" 
                       style="text-align: justify-all;
                              align-items: center; 
                              font-size: 15px;
                              padding-top: 12px;
                              padding-bottom: 12px;
                              font-family: Georgia, 'Times New Roman', Times, serif;">
                        
Thank you for contacting us! We appreciate your interest in our Python development services. Rest assured, we have received your message, and we'll be reaching out to you within 2-3 days. Our dedicated team is committed to crafting tailored solutions that align with your needs. We can't wait to work together and create something exceptional for you!
                    </p>
                   
                </td>
            </tr>
            <tr style="border: none; 
            background-image: linear-gradient(to right top, #86b4f9, #aabff5, #c5ccf1, #9d9df6, #2b8cbd); 
            height: 40px; 
            color:white; 
            padding-bottom: 20px; 
            text-align: center;">
                  
<td height="40px" align="center" style="padding-bottom: 10px;">
    <p style="color:black; 
    line-height: 1.5em; font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;">
    TOUCH WITH US
    </p>
    <a href="https://www.instagram.com/manav_parmar96/?next=%2F" 
    style="border:none;
           text-decoration: none; 
          "> 
             
    <img height="25" 
    src=
"https://www.linkpicture.com/q/image-7_37.png" 
    width="25" /> 
    </a> 
      
    <a href="https://www.linkedin.com/in/manav-parmar-a61aa41aa/"
    style="border:none;
    text-decoration: none; 
    "> 
      
    <img height="25" 
    src="https://www.linkpicture.com/q/image-6_48.png"
width="25" /> 
    </a>
      
    <a href="https://www.facebook.com/profile.php?id=100084871054162" 
    style="border:none;
    text-decoration: none;
   "> 
      
    <img height="20"
    src=
"https://www.linkpicture.com/q/image-3_102.png" 
        width="20" 

                />
    </a>
    <a href="https://join.skype.com/invite/xX3ugHVRAwnw" 
    style="border:none;
    text-decoration: none;
   "> 
      
    <img height="20"
    src=
"https://www.linkpicture.com/q/image-9_34.png" 
        width="20" 

              />
    </a>
</td>
</tr>
<tr>
<td style="font-family:'Open Sans', Arial, sans-serif;
           font-size:11px; line-height:18px; 
           color:#999999;" 
    valign="top"
    align="center">
    <br>
                  <b style="color: black;">©CopyRights</b>   Manav Parmar.<br>
                
                  
            </td>
              </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td class="em_hide"
          style="line-height:1px;
                 min-width:700px;
                 background-color:#ffffff;">
              <img alt="" 
              src="images/spacer.gif" 
              style="max-height:1px; 
              min-height:1px; 
              display:block; 
              width:700px; 
              min-width:700px;" 
              width="700"
              border="0" 
              height="1">
              </td>
        </tr>
        </tbody>
    </table>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

